* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #0f0d13;
    font-family: 'Roboto', sans-serif;
    color: #e1e1e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.conteiner-one {
    display: grid;
    grid-template-areas: 'a b' 'a c';
    gap: 32px;  

    place-content: center;
    height: 100vh;
}

.player {
    background: #2a2141;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.player-vertical {  
    padding: 38px;
    grid-area: a;   
    
    gap: 29px;
    align-items:center ; 
}

.capa img {
    width: 190px;
    height: 190px;
    border-radius: 6px;
    margin-bottom: 29px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info h1 {
    font-size: 24px;
    font-weight: 700;
    
}

.info p {
    font-size: 19px;
    line-height: 100%;
    opacity: 0.7;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.control-track {
    width: 100%;
    position: relative;
}

.control-track::before {
    content: '';
    height: 6px;
    width: 100%;
    display: block;
    border-radius: 10px;
    opacity: 0.30000001192092896;
    background: #D9D9D9;
}

.control-track::after {
    content: '';
    height: 6px;
    width: 80%;
    display: block;
    border-radius: 10px;
    background: #D9D9D9;
    position: absolute;
    top: 0;
}

.time {
    font-size: 14px;
    color: #c4c4cc;
    opacity: 0.7;

    display: flex;
    justify-content:space-between;
    margin-top: 9px;
}

.player-horizontal {
    padding: 29px;
    grid-area: b;
    gap: 29px;
}

.capa2 {
    display: flex;
    align-items: center;
    gap: 28px;
    width: 300px;
    height: 84px;
}

.capa2 img {
    height: 100%;
    border-radius: 6px;
}

.player-horizontal .controls {
    display: flex;
    justify-content: space-around;
}

.player-horizontal-menor {
    padding: 29px;
    grid-area: c;
}

.player-horizontal-menor .controls {
    display: flex;
    margin-top: 29px;
    justify-content: space-around;
    padding-inline: 28px;
}